span.header-content {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: black;
    position: relative;
    bottom: 8px;
    right: 9px;
    width: 100%;
}

.heading {
    color: white;
    margin-left: 20px;
}

.image-logo {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
}

body {
    background-color: black;
}

label {
    color: white;
    margin-left: 30px;
}

#podcast-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}


/*Modal*/
/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-content {
    background: #111;
    color: #eee;
    padding: 20px;
    border-radius: 12px;
    width: 650px;
    overflow-y: auto;
}

#close-modal {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.content-container {
    display: flex;
    flex-direction: row;

}

.desc-label {
    position: relative;
    left: 200px;

}

#modal-description {
    margin-left: 30px;
}